<!DOCTYPE html>
<html>
<head>
	<title>MachigaiGameBundle:Shop:index</title>
	<script type='text/javascript' src="/bundles/machigaigame/js/jquery-1.10.2.min.js"></script>
	<script type='text/javascript' src="/bundles/machigaigame/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script type='text/javascript' src="/bundles/machigaigame/js/jquery.timer.js"></script>
	<script type="text/javascript" src="/bundles/machigaigame/js/timeCalculater.js"></script>
	<script type="text/javascript" src="/bundles/machigaigame/js/changeImage.js"></script>
	<script type='text/javascript' src="/bundles/machigaigame/js/android.js"></script>
	<script type="text/javascript" src="/bundles/machigaigame/js/jquery.center.js"></script>
	<script type="text/javascript" src="/bundles/machigaigame/js/jquery.center.min.js"></script>
	<script type="text/javascript" src="/bundles/machigaigame/js/warning.js"></script>
	<script type="text/javascript" src="/bundles/machigaigame/js/common.js"></script>
	<link rel="stylesheet" src="/bundles/machigaigame/css/html5reset-1.6.1.css" />
	<link rel="stylesheet" src="/bundles/machigaigame/css/no-theme/jquery-ui-1.10.3.custom.min.css" />

	<link rel="stylesheet" src="/bundles/machigaigame/css/html5reset-1.6.1.css&gt;Error" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <style>
	 body,*{padding:0;border:none;margin:0;}
         img{vertical-align:text-bottom;}
	 body{ text-align: center; background:url( /bundles/machigaigame/images/parts/2-01_bg_.png   );}
	ul,li{list-style-type:none;}
 	.top_bg{background: url(/bundles/machigaigame/images/parts/top_bg.png)}
	.bottom_blue_line{border-bottom:3px solid rgb(0,142,238);}
	.shop_contentdetailarea{background:url(/bundles/machigaigame/images/parts/shop_contentdetailarea.png);}
	</style>
                <meta name="viewport" content="width=device-width, user-scalable=no" />
        <meta name="float-menu" content="machigai.puzzle-m.net/">
</head>
<body bgColor = "#f00fff" >

<!--応募フォームテンプレ-->
	<div align="center">
            <form action="/apply/sendData" method="post">
<!--商品-->	
			商品
			<select name="present">
				<option value="">--</option>
				<option value="LINEprepaid500yen">LINEプリペイド500円分</option>
				<option value="LINEprepaid1000yen">LINEプリペイド1000円分</option>
				<option value="QUOcard500yen">QUOカード500円分</option>
			</select><br>
<!--名前-->
			姓
			<input type="text" name="toaddr" size="10">
			名
			<input type="text" name="toaddr" size="10">
			<br>
<!--メール-->
			メールアドレス
			<input type="text" name="fromaddr" size="30"><br>
<!--コメント-->
			コメント
			<textarea rows="4" name="body" cols="56"></textarea><br>
<!--性別-->
			性別　
			男性
			<input type="radio" name="q1" value="male">
			女性
			<input type="radio" name="q1" value="female">
			<br>
<!--生年月日-->
			生年月日
			<select name="birthyear">
					<option value="">--</option>
					<option value="2014">2014</option>
					<option value="2013">2013</option>
					<option value="2012">2012</option>
					<option value="2011">2011</option>
					<option value="2010">2010</option>
					<option value="2009">2009</option>
					<option value="2008">2008</option>
					<option value="2007">2007</option>
					<option value="2006">2006</option>
					<option value="2005">2005</option>
					<option value="2004">2004</option>
					<option value="2003">2003</option>
					<option value="2002">2002</option>
					<option value="2001">2001</option>
					<option value="2000">2000</option>
					<option value="1999">1999</option>
					<option value="1998">1998</option>
					<option value="1997">1997</option>
					<option value="1996">1996</option>
					<option value="1995">1995</option>
					<option value="1994">1994</option>
					<option value="1993">1993</option>
					<option value="1992">1992</option>
					<option value="1991">1991</option>
					<option value="1990">1990</option>
					<option value="1989">1989</option>
					<option value="1988">1988</option>
					<option value="1987">1987</option>
					<option value="1986">1986</option>
					<option value="1985">1985</option>
					<option value="1984">1984</option>
					<option value="1983">1983</option>
					<option value="1982">1982</option>
					<option value="1981">1981</option>
					<option value="1980">1980</option>
					<option value="1979">1979</option>
					<option value="1978">1978</option>
					<option value="1977">1977</option>
					<option value="1976">1976</option>
					<option value="1975">1975</option>
					<option value="1974">1974</option>
					<option value="1973">1973</option>
					<option value="1972">1972</option>
					<option value="1971">1971</option>
					<option value="1970">1970</option>
					<option value="1969">1969</option>
					<option value="1968">1968</option>
					<option value="1967">1967</option>
					<option value="1966">1966</option>
					<option value="1965">1965</option>
					<option value="1964">1964</option>
					<option value="1963">1963</option>
					<option value="1962">1962</option>
					<option value="1961">1961</option>
					<option value="1960">1960</option>
					<option value="1959">1959</option>
					<option value="1958">1958</option>
					<option value="1957">1957</option>
					<option value="1956">1956</option>
					<option value="1955">1955</option>
					<option value="1954">1954</option>
					<option value="1953">1953</option>
					<option value="1952">1952</option>
					<option value="1951">1951</option>
					<option value="1950">1950</option>
					<option value="1949">1949</option>
					<option value="1948">1948</option>
					<option value="1947">1947</option>
					<option value="1946">1946</option>
					<option value="1945">1945</option>
					<option value="1944">1944</option>
					<option value="1943">1943</option>
					<option value="1942">1942</option>
					<option value="1941">1941</option>
					<option value="1940">1940</option>
					<option value="1939">1939</option>
					<option value="1938">1938</option>
					<option value="1937">1937</option>
					<option value="1936">1936</option>
					<option value="1935">1935</option>
					<option value="1934">1934</option>
					<option value="1933">1933</option>
					<option value="1932">1932</option>
					<option value="1931">1931</option>
					<option value="1930">1930</option>
					<option value="1929">1929</option>
					<option value="1928">1928</option>
					<option value="1927">1927</option>
					<option value="1926">1926</option>
					<option value="1925">1925</option>
					<option value="1924">1924</option>
					<option value="1923">1923</option>
					<option value="1922">1922</option>
					<option value="1921">1921</option>
					<option value="1920">1920</option>
					<option value="1919">1919</option>
					<option value="1918">1918</option>
					<option value="1917">1917</option>
					<option value="1916">1916</option>
					<option value="1915">1915</option>
					<option value="1914">1914</option>
					<option value="1913">1913</option>
					<option value="1912">1912</option>
					<option value="1911">1911</option>
					<option value="1910">1910</option>
					<option value="1909">1909</option>
					<option value="1908">1908</option>
					<option value="1907">1907</option>
					<option value="1906">1906</option>
					<option value="1905">1905</option>
					<option value="1904">1904</option>
					<option value="1903">1903</option>
					<option value="1902">1902</option>
					<option value="1901">1901</option>
					<option value="1900">1900</option>
			</select>年
			<select name="birthmonth">
				<option value="">--</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
			</select>月
			<select name="birthday">
				<option value="">--</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
				<option value="26">26</option>
				<option value="27">27</option>
				<option value="28">28</option>
				<option value="29">29</option>
				<option value="30">30</option>
				<option value="31">31</option>
			</select>日
			<br>

<!--送信ボタン-->
			<br><br>
			<input type="submit" value="送信する">
			<input type="hidden" name="title" value="テスト応募フォーム">
			<input type="hidden" name="nextpage" value="NEXTURL">
		</form>
	</div>





<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-49132943-1']);
  _gaq.push(['_setDomainName', 'puzzle-m.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<img src="/bundles/machigaigame/images/parts/ugoku_stamp_header.png" width="100%" style="position:relative;"/>

  
<br><br>

  <!-- <nav style="padding-top:3%;position:relative"><a style="padding-right:20%;">
    <img src="/bundles/machigaigame/images/parts/button_page_back.png" width="7.5%" id="prev"/></a><span><span class="page"></span> / <span id="maxPage"></span> </span><a style="padding-left:20%;"><img src="/bundles/machigaigame/images/parts/button_page_next.png" width="7.5%" id="next" /></a>
  </nav>-->

</section>
<footer style="margin:3% auto 5% auto;position:relative">
  <img id="toTopImage" src="/bundles/machigaigame/images/parts/button_back_totop_off.png" width="30%" onclick="changeImage(this.id);javascript: goTop();">
  <img id="preToTopImage" src="/bundles/machigaigame/images/parts/button_back_totop_off.png" class="preload">
</footer>

<img class="preload" src="/bundles/machigaigame/images/parts/button_shopredl.png" />
<img class="preload" src="/bundles/machigaigame/images/parts/button_contentdetail_buy.png" />


<script>
var page = 0;
var current_mode = 0;
var image_path = null;
var image_id = null;
var target = ".item1";
$(function(){
  if(current_mode == 0){
    $('#wallpaper').hide();
  }else{
    $('#stamp').hide();
    changeImageTab("wallpaper_tab");
  }
})

$(function() {
  page = 0;

  function draw() {
    if(current_mode==0){
      target = '.item1';
    }else{
      target = '.wallpaper1';
    }
    $(target).hide();
    var str = target+':first,'+target+':gt("'+page*20+'"):lt(20)';
  $(str).show();
    rewritePageNum(target);
  }
  function rewritePageNum(){
    if(target == '.item1'){
      var max = parseInt($('.item1').size()-1);
    }else{
      var max = parseInt($('.wallpaper1').size()-1);
    }
    $('.page').html(page+1);
    var maxPage = Math.ceil(parseFloat(max) / 20);
    $('#maxPage').html(maxPage);
  }
  $('#prev').click(function() {
    if (page > 0) {
      page--;
      draw();
    }
  });
  $('#next').click(function() {
    if(current_mode==0){
      var target = '.item1';
    }else{
      var target = '.wallpaper1';
    }
    if (page < ($(target).size() - 1) / 20 - 1) {
      page++;
      draw();
    }
  });

  //選択
  $sortId = 0;
  if ($sortId != 0) $('#sortSelect option')[$sortId].selected = true;

  draw();
});

function sortSelect(){
  var optionValue = $('#sortSelect').val();
  if(optionValue == 1){
    window.location = "/shop/1?categoryCode=" + (current_mode + 1);
  }else if(optionValue == 2){
    window.location = "/shop/2?categoryCode=" + (current_mode + 1);
  }else if(optionValue == 3){
    window.location = "/shop/3?categoryCode=" + (current_mode + 1);
  }else if(optionValue == 4){
    window.location = "/shop/4?categoryCode=" + (current_mode + 1);
  }
}
function change_tabs(data){
  page = 0;
  if(data == 0){
    current_mode = 0;
    target = ".item1";
    $('#wallpaper').hide();
    $('#stamp').show();
    
    $(target).hide();
    var str = target+':first,'+target+':gt("'+page*20+'"):lt(20)';
    $(str).show();

    rewritePageNum();
  }else{
    current_mode = 1;
    target = ".wallpaper1";
    $('#stamp').hide();
    $('#wallpaper').show();
    
    $(target).hide();
    var str = target+':first,'+target+':gt("'+page*20+'"):lt(20)';
    $(str).show();
    
    rewritePageNum();
  }
}

function rewritePageNum(){
    if(target == '.item1'){
      var max = parseInt($('.item1').size()-1);
    }else{
      var max = parseInt($('.wallpaper1').size()-1);
    }
    $('.page').html(page+1);
    var maxPage = Math.ceil(parseFloat(max) / 20);
    $('#maxPage').html(maxPage);
  }

var current_tab = "stamp_tab";
function changeImageTab(imageId){
  if(current_tab != imageId){
    if(imageId == "stamp_tab"){
      var imageId1 = "wallpaper_tab";
    }else{
      var imageId1 = "stamp_tab";
    }

    var image_id = imageId;
    var pre_src = $('#'+image_id).attr('src');
    var src = pre_src.replace(/.png/g,'_off.png');
    $('#'+image_id).attr("src",src);

    var pre_src1 = $('#'+imageId1).attr('src');
    var src1 = pre_src1.replace(/_off/g,'');
    image_path1 = src1;
    image_id1 = imageId1;
    $('#'+imageId1).attr("src",src1);
    current_tab = imageId;
  }
}
</script>
        <footer>
  <div id="copyright_area">
    <p style="text-align: center;">cマガジン・マガジン</p>
    <p style="text-align: center;">cHubase-i</p>
  </div>
</footer>
    
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-49132943-1']);
  _gaq.push(['_setDomainName', 'puzzle-m.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
    