@charset "utf-8";
/* ===============================================
	▼TOPページ CSS設定
=============================================== */

/* ━━━━ ▼topNews ━━━━ */
#topNews {
	background-color: #e3f2ff;
	padding: 4% 8% 4% 4%;
	position: relative;
}
#topNews h3 {
	float: left;
	width: 4em;
	color: #62d0ff;
}
#topNews ul {
	padding: 0 0 0 4em;
}
#topNews ul li {
	line-height: 1.4;
	padding: 0 0 5px;
	position: relative;
}
#topNews ul li a {
	color: #000;
	text-decoration: none;
}
#topNews .moreBtn {
	position: absolute;
	right: 4%;
	bottom: 1em;
}
#topNews .moreBtn img {
	width: 12px;
}

/* ━━━━ ▼topBan ━━━━ */
.oubo {
	padding: 20px 0 20px;
	text-align: center;
}

.oubo img {
	width: 80%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 0px;
	padding-bottom: 0px;
}


.yokoku {
	padding: 0 0 20px;
	text-align: center;
}

.yokoku img {
	width: 80%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.attention {
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.tw {
	padding: 20px 0 20px;
}
.tw img {
	width: 80%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.topBan {
	padding: 20px 0 20px;
}
.topBan img {
	width: 100%;
}

/* ━━━━ ▼topMenu ━━━━ */
#topMenu {
	padding: 0 2% 30px;
}
#topMenu li {
	float: left;
	width: 29%;
	padding: 2%;
}
#topMenu li img {
	width: 100%;
	height: auto;
}

/* ━━━━ ▼footBtn ━━━━ */
.footBtn {
	padding: 5% 4%;
}
.footBtn a {
	display: block;
	background-color: #62d0ff;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding: 10px 0;
}
.footBtn a img {
	width: 40%;
}



/* ━━━━ ▼floting pannel ━━━━ */



div#floating-menu {
    position: fixed;
    width: 90%;
    bottom: 10px;


 
   /* 影を入れる。指定のピクセルは前から順に横方向のズレ、縦方向のズレ、ぼかし具合、 */
    /* 影の色を指定している。 */
    -moz-box-shadow: 0px 0px 7px #454545; /* Firefox用 */
    -webkit-box-shadow: 0px 0px 7px #454545; /* Google ChromeやSafari用 */
    box-shadow: 0px 0px 7px #454545; /* CSS3対応ブラウザ用 */

    z-index: 9999;
}


/* ━━━━ ▼floting pannel ━━━━ */
        .box{
            position:fixed;
            bottom: 10px;
            left:5%;
            right:5%;
            background-color:#fff;
	    background: rgba(255, 255, 255, 0.8); /* 背景色を白に指定して不透明度を0.5に指定 */
            color:#7F7F7F;
            padding:10px;
            border:2px solid #ccc;
            -moz-border-radius: 10px;
            -webkit-border-radius:10px;
            -khtml-border-radius:10px;
            -moz-box-shadow: 0 1px 5px #333;
            -webkit-box-shadow: 0 1px 5px #333;
            z-index:101;
	    text-align: center;
	    
        }
	
	.box img {
	width: 100%;
}
	
        .box h1{
           /* ━━━━  border-bottom: 1px dashed #7F7F7F;  ━━━━ */
           /* ━━━━  margin:-20px -20px 10px -20px;  ━━━━ */
            padding:3px;
            background-color:#FFEFEF;
            color:#EF7777;
            -moz-border-radius:10% 10% 0px 0px;
            -webkit-border-top-left-radius: 10%;
            -webkit-border-top-right-radius: 10%;
            -khtml-border-top-left-radius: 10%;
            -khtml-border-top-right-radius: 10%;
	    text-align: center;
	    
        }
        a.boxclose{
            float:right;
            width:26px;
            height:26px;
            background:transparent url(../img/cancel.png) repeat top left;
            margin-bottom: 0px;
            margin-right:  0px;
            cursor:pointer;
        }

/* ━━━━ ▼floting menu ━━━━ */

        .menubox{
            position:fixed;
            top: 10px;
            left:10px;
	    width: 35px;
            background-color:#fff;
	    background: rgba(255, 255, 255, 1); /* 背景色を白に指定して不透明度を1に指定 */
            color:#7F7F7F;
            padding:5px;
            border:2px solid #ccc;
            -moz-border-radius: 5px;
            -webkit-border-radius:5px;
            -khtml-border-radius:5px;
            -moz-box-shadow: 0 1px 3px #333;
            -webkit-box-shadow: 0 1px 3px #333;
            z-index:101;
	    text-align: center;
	    
        }
	
		
	.menubox img {
	width: 100%;
	}
	



	

	/* リセット */
* {margin: 0; padding: 0;}
body,html {width: 100%;height: 100%;}

/* 設定 */
.container {width: 100%; height: 100%; overflow-x: hidden;}
.slide_all {width: 800px; margin: 0 auto; height: 250px; position: relative;}
.slide_wrap {width: 2400px; position: absolute; left: 50%; margin-left: -1200px;}
.slide_body {width: 100%;}
.slide {width: 800px;}
.slide img {width: 100%; vertical-align: bottom;}
/* 装飾 */
.bx-controls-direction,.bx-pager {text-align: center;height: 25px;}
.bx-controls-direction a,.bx-pager-item {display: inline-block;}
.bx-pager-item a{display: block; height: 10px; width: 10px; text-indent: -9999px; background: #000; border-radius: 10px; margin:10px 2px 0 2px;}
.bx-pager-item a.active {opacity: 0.3;}
.bx-controls-direction a{text-decoration: none; color: #000; padding:0 5px;}
.bx-controls {position: absolute;bottom: 5px;z-index: 100;width: 100%;}

