{% extends "KanaheiAdminBundle::base.html.twig" %}

{% block contents -%}
    <h1>アイテムグループ編集</h1>
	<a href="{{ path('itemgroup') }}">アイテムグループ一覧に戻る</a>

    {{ form(edit_form) }}
	<br />
	{{ form(delete_form) }}
{% endblock %}
