@charset "utf-8";

/**************************************************************************
 基本タグ
**************************************************************************/

body {
	overflow:hidden;
}


/**************************************************************************
 共通クラス
**************************************************************************/

.rootContainer {
	overflow:hidden;
	width:100%;
	height:100%;
}
 
.resizeContainer {
	width:100%;
	position:relative;
	text-align:center;
	transform-origin:0 0;
	-moz-transform-origin:0 0;
	-webkit-transform-origin:0 0;
}
 
.footerContainer {
	position:relative;
}

.bgContainer {
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0; 
}


.bgContainer div {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}

.bgColor {
	background:#A87E00;
}

.bgGrad {
	background:url(../images/bg_grad.png) repeat-x;
	background-size:1px 567px;
}

.bgTexture {
	background:url(../images/bg_texture.png) repeat;
	background-size:46px 46px;
}

.commonBgContainer {
	display:none;
}

div.bgContainer div.gameOverContainer {
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.60);
	z-index:5;
}

div.footerContainer {
	position:absolute;
	left:0;
	top:0;
	width:100%;
}


.w360 {
	width:360px;
	margin:auto;
	position:relative;
}

/*
数字の画像(0-9は動的に変更）
*/
p.number {
	background:url(../images/text_number.png) no-repeat;
	background-size:249px 31px;
	width:24px;
	height:31px;
	position:absolute;
}

/*
数字の画像(0-9は動的に変更）
*/
p.numberS {
	background:url(../images/text_number_s.png) no-repeat;
	background-size:140px 17px;
	width:14px;
	height:17px;
	position:absolute;
}

/*
タイトル画面のトップへ戻ると遊びかた
*/
div.titleContainer div.btnContainer {
	display:inline-block;
	margin:12px auto auto auto;
	width:320px;
}

div.titleContainer p.btnBackTop {
	float:left;
}

div.titleContainer p.btnHowto {
	float:right;
}


/***********************************
 ゲームクリア/オーバー時のボタン２つ
***********************************/

div.finalButtonContainer,
div.normalButtonContainer {
	/*display:none;*/
	position:absolute;
	width:100%;
	height:48px;
	z-index:300;
}

div.normalButtonContainer p.btnRetry {
	width:158px;
	height:48px;
}

div.finalButtonContainerInner,
div.normalButtonContainerInner {
	width:328px;
	height:48px;
	margin:auto;
	position:relative;
}

div.normalButtonContainerInner {
	text-align:center;
}

div.finalButtonContainer p {
	width:158px;
	height:48px;
	position:absolute;
	z-index:3000;
}

div.finalButtonContainer p.btnBackTop {
	left:0;
	top:0;
}

div.finalButtonContainer p.btnAgain {
	right:0;
	top:0;
}


/**************************************************************************
 クリア時の光の背景
**************************************************************************/
div.shineContainer {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display:none;
}

div.shineContainer div {
	width:100%;
	height:100%;
}

div.shineContainer div.shine0 { background:url(../images/shining0.png) no-repeat center center; }
div.shineContainer div.shine1 { background:url(../images/shining1.png) no-repeat center center; }
div.shineContainer div.shine2 { background:url(../images/shining2.png) no-repeat center center; }

div.shineContainer div.shine1,
div.shineContainer div.shine2 {
	display:none;
}

/**************************************************************************
 ローディング
**************************************************************************/

div.loadingContainer {
	position:fixed;
	z-index:99999;
	width:100%;
	height:100%;
	background:#FFD249;
}

div.loadingContainer p {
	background:url(../images/loading.png) no-repeat center center;
	background-size:149px 30px;
	width:100%;
	height:100%;
	text-indent:-9999px;
}

/***********************************
 スタンプゲットボタン
***********************************/

div.stampContainer {
	text-align:center;
}

div.resizeContainer div.stampContainer {
	width:360px;
}

div.stampContainer div.imgContainer {
	width:100%;
	text-align:center;
}

div.stampContainer div.imgContainer img {
	margin:auto;
}

div.stampContainer p.btnBack {
	margin:auto;
	text-align:left;
	position:relative;
	width:158px;
	height:48px;
}

/***********************************
 エラーパネル
***********************************/

div.loginErrorContainer {
	padding:20px;
}

div.loginErrorContainer p {
	margin-bottom:10px;
}

/***********************************
 各ゲームのヘルプパネル
***********************************/

/*
helpContainer
*/

div.helpContainer {
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.80);
	display:none;
}
div.helpContainer div.helpPict {
	width:320px;
	height:490px;
	margin:50px auto auto auto;
}
div.helpContainer div.helpPict p {
	position:absolute;
	left:0;
	bottom:20px;
	width:100%;
	height:48px;
	text-align:center;
}
div.helpContainer div.helpPict p a{
	text-align:left;
	margin:auto;
}

