{% extends "MachigaiAdminBundle::base.html.twig" %}

{% block contents -%}
    <h1>ランキング新規作成</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ranking') }}">
            一覧に戻る
        </a>
    </li>
</ul>
{% endblock %}
