{% extends "KanaheiGameBundle::base.html.twig" %}
{% block title %}著作権{% endblock %}
{% block body %}

<p style="position:absolute;top:50%; width:100%; text-align:center; z-index:10;">著作権デフォルト</p>
<img src="{{ asset('/bundles/kanaheigame/images/parts/top_bg
.png')}}" style="width:100%;height:auto;position:absolute;left:0;top:0; z-index: 5;">


{% endblock %}