{% extends "MachigaiGameBundle:Game:finish.html.twig" %}

{% block comment %}
おめでとう！<br />ショップやランキングをチェック！<br />ほかの問題にもチャレンジ！
{% endblock %}

{% block menu %}
 <button onclick="location='{{ path('GameSelect')}}'">ほかの問題で遊ぶ</button>
 <p>auIDログインをすれば楽しみがいっぱい！TOPからログインしてね！</p>
 <button onclick="location='{{ path('Top')}}'">アプリTOPへ</button>
 <button style="disabled:disabled;">ショップ</button>
 <button style="disabled:disabled;">ランキング</button>
{% endblock %}
