
<!DOCTYPE html>
<html style="margin:0;">
<head>
    <meta charset="utf-8">
    <title>まちがいさがしメイトfor auスマートパス</title>
    <link rel="icon" type="image/GIF" href="res/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta name="screen-orientation" content="portlait"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="yes"/>
    <meta name="x5-fullscreen" content="true"/>
</head>
<body style="background:white;padding:0;margin:0;">
    <canvas id="gameCanvas" ></canvas>
<!--    <script type="text/javascript" src="cordova.js"></script> -->
    <script type="text/javascript" src="{{ asset('bundles/machigaigame/js/game/boot-html.js') }}"></script>
</script>
</body>
</html>