{% extends "KanaheiAdminBundle::base.html.twig" %}

{% block contents -%}
    <h1>ユーザ編集</h1>
    <a href="{{ path('user') }}">ユーザ一覧に戻る</a>

    {{ form(edit_form) }}
    <br>
    {{ form(delete_form) }}
{% endblock %}
