<ul class="panel" style="padding-top:0.8%; ">
   <li id="item1" style="display:block; text-align:left; padding:1%; border: 1px solid rgb(253,138,55)">
    <img src="" width="15%" style="text-align:middle;width:80px;height:80px;"/>
    <div style="display:inline-block;width:55%;">
	<p style="text-align:left;"><span class="title">タイトル</span>
	   <span class="description">説明<br />説明</br>説明<br /></span>
           <span class="updated_at">タイム　</span>
	</p>
    </div>
    <div style="display:inline-block;">
	<img src="">
	<span class="point">100pt</span>
	<a href="" alt="購入"><img src="" width="13%" style="width:90px: height: 25px;"/></a>
    </div>
   </li>
</ul>
