<h2>completion chenging password</h2>

<a href="{{path('Top')}}"><img id="toapptop" src="{{ asset('/bundles/machigaigame/images/parts/button_returnto_top_off2.png')}}" width="65%" onclick="changeImage(this.id)" /></a>