{% extends "MachigaiGameBundle::base.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
<h2>change password</h2>
{{form(form)}}
<!--<button type="button" onclick="submitButton()">変更</button>-->
<script>
$(function(){
//	$('#form_confirm').hide();
})
/*
function submitButton(){
	var password = $('#form_password').val();
	if(!password.match(/\S/i) || password.length < 6){
		alert("パスワードは半角英数字６文字以上で入力してください。");
	}else{
		$('#form_confirm').trigger('click');
	}
}
*/
</script>
{% endblock %}