{% extends "MachigaiGameBundle:Help:base.html.twig" %}

{% block title %}ヘルプ{% endblock %}

{% block contents %}
 <img src="{{ asset('/bundles/machigaigame/images/parts/header_nicknamechange_end.png')  }}" width="100%"/>
 <p style="margin-top:2em;">登録が完了しました。</p>
{% endblock %}

 {% block footer %}
 <footer style="margin-top:10%;">
 <a href="{{path('Top')}}"><img src="{{ asset('/bundles/machigaigame/images/parts/button_toapptop.png')}}" width="35%"></a>  
 </footer>
 {% endblock %}
