{% extends "MachigaiGameBundle:Help:base.html.twig" %}

{% block title %}登録内容変更{% endblock %}

{% block contents %}
<img src="{{asset('/bundles/machigaigame/images/parts/header_nicknamechange_check.png')}}" width="100%" />
<section>
 <p style="padding:1em 2em;text-align:left;">下記の内容でよろしければ、登録ボタンを押してください。</p>
 {{ form(form) }}
</section>
{% endblock %}

{% block footer %}{% endblock %}
