{% extends "MachigaiGameBundle:Help:base.html.twig" %}

{% block title %}ヘルプ{% endblock %}

{% block contents %}
<p style="padding:1em 2em;text-align:left;">ランキングに表示されるニックネームの変更ができます。</p>
<a href="{{ path('SettingNickname') }}"><img src="{{asset('/bundles/machigaigame/images/parts/button_nicknamechange.png')}}" width="70%"/></a>
{% endblock %}
