{% extends "::base.html.twig" %}

{% block title %}ニックネーム変更{% endblock %}

{% block body %}
<header><h1>ヘルプ</h1></header>
<section>
 <h2>ニックネーム変更</h2>
 <p>変更後のニックネームを入力し、登録内容確認ボタンを押してください。</p>
 {{ form (form) }}
</section>
<footer><button type="button" onclick="location='{{ path('Setting') }}'">戻る</button></footer>
{% endblock %}
