{% extends "MachigaiGameBundle:Help:base.html.twig" %}

{% block title %}ニックネーム変更{% endblock %}

{% block contents %}
<section>
 <img src="{{asset('/bundles/machigaigame/images/parts/header_nicknamechange_change.png')}}" width="100%">
 <p>変更後のニックネームを入力し、登録内容確認ボタンを押してください。</p>
 {{ form (form) }}
</section>
{% endblock %}
