.parts_common{ background:url("parts_common.png") top left no-repeat; }
.common_parts_fw_r1_c1{ width:1000px; height:878px; background-position:-10px -10px; }
._8671913{ width:683px; height:125px; background-position:-10px -898px; }
._223518659{ width:386px; height:120px; background-position:-10px -1033px; }
._511346061{ width:454px; height:120px; background-position:-406px -1033px; }
._676979598{ width:688px; height:114px; background-position:-10px -1163px; }
.common_parts_fw_r2_c8{ width:316px; height:97px; background-position:-10px -1287px; }
.common_parts_fw_r5_c8{ width:216px; height:96px; background-position:-703px -898px; }
._1990084905{ width:216px; height:96px; background-position:-708px -1163px; }
._2468004{ width:216px; height:96px; background-position:-336px -1287px; }
._1021420499{ width:216px; height:96px; background-position:-562px -1287px; }
._911855756{ width:316px; height:96px; background-position:-10px -1394px; }
._1364368964{ width:316px; height:96px; background-position:-336px -1394px; }
._425775048{ width:316px; height:96px; background-position:-662px -1394px; }
._1168840218{ width:316px; height:96px; background-position:-10px -1500px; }
._248305447{ width:316px; height:96px; background-position:-336px -1500px; }
._845998230{ width:316px; height:96px; background-position:-662px -1500px; }
._631528978{ width:316px; height:96px; background-position:-10px -1606px; }
._648516627{ width:53px; height:53px; background-position:-929px -898px; }

