@charset "UTF-8";


/**************************************************************************
 基本タグ
**************************************************************************/

body {
	margin:0;
	padding:0;
	color: #000;
	background: #fff;
	font-family: ArialMT, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", メイリオ, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	-webkit-text-size-adjust: none;
}

html,body {
	height:100%;
}

body,h1,h2,h3,h4,h5,h6,div,p,ul,li,table,tr,td,article,section {
	margin:0;
	padding:0;
}



/**************************************************************************
 ボタンクラス 必ず<p class=""><a></a></p>の構造とする
**************************************************************************/

.btnBackTop a,
.btnHowto a,
.btnAgain a,
.btnRetry a,
.btnBack a,
.btnClose a,
.btnLogout a,
.btnStop a,
.btnBackTopS a,
.btnBackS a,

p.textGameClear,
p.textGameOver,
p.textYoi,
p.textStart,

/* ↓サブ用 */

div.headerContainer,
.btnChange a,
.btnRegist a {
	background:url(../images/parts_common.png) no-repeat;
	background-size:500px 439px;
	display:block;
	text-indent:-9999px;
}

.btnBackTop a,
.btnHowto a,
.btnAgain a,
.btnRetry a,
.btnBack a,
.btnClose a,
.btnLogout a {
	width:158px;
	height:48px;
}

.btnStop a,
.btnBackTopS a,
.btnBackS a,
.btnChange a,
.btnRegist a {
	width:108px;
	height:48px;
}


.btnBackTop a {
	background-position:-1px -1px;
}

.btnHowto a {
	background-position:-1px -51px;
}

.btnAgain a {
	background-position:-1px -101px;
}

.btnRetry a {
	background-position:-1px -151px;
}

.btnBack a {
	background-position:-1px -201px;
}

.btnClose a {
	background-position:-161px -1px;
}

.btnLogout a {
	background-position:-161px -51px;
}

.btnStop a {
	background-position:-161px -101px;
}

.btnBackTopS a {
	background-position:-161px -151px;
}

.btnBackS a {
	background-position:-161px -201px;
}

.btnChange a {
	background-position:-322px -51px;
}

.btnRegist a {
	background-position:-322px -1px;
}

p.textGameClear,
p.textGameOver,
p.textYoi,
textStart {
	margin:auto auto 18px auto;
	text-align:left;
}

/*
ゲームクリア時のラベル(共通)
*/
p.textGameClear {
	width:342px;
	height:63px;
	background-position:-1px -251px;
}

p.textGameOver {
	width:344px;
	height:57px;
	background-position:-1px -315px;
}

p.textYoi {
	width:193px;
	height:60px;
	background-position:-271px -101px;
}

p.textStart {
	width:227px;
	height:60px;
	background-position:-271px -164px;
}

div.cautionContainer {
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba(0,0,0,0.80);
	z-index:99999;
}

div.cautionContainer p {
	vertical-align:middle;
	color:#fff;
	font-size:1.5em;
	text-align:center;
	padding-top:150px;
}


/*
ログイン認証関連のコンテナ
*/

div.loginCheckContainer,
div.loginErrorContainer {
	position:fixed;
	width:100%;
	height:100%;
	z-index:199999;
	background:#FFD249;
	top:0;
	left:0;
}

div.loginCheckContainer {
	
}


div.loginErrorContainer {
	display:none;
}

