{% extends "MachigaiAdminBundle::base.html.twig" %}
{% block leftNav %}{% endblock %}
{% block contents %}
    <br />
    {% if error %}
        <div style="color:red;">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('machigai_admin_login_check') }}" method="post">
        <label for="username">ユーザ名:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" /><br />
        <br />
        <label for="password">パスワード:</label>
        <input type="password" id="password" name="_password" /><br />

        {#
            認証成功した際のリダイレクト URL を制御したい場合(詳細は以下に説明する)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <input type="submit" name="login" />
    </form>
{% endblock %}