{% extends "MachigaiAdminBundle::base.html.twig" %}

{% block stylesheets %}
	<style type="text/css">
	<!--
		#machigai_gamebundle_item_distributedFrom{display:inline;}
		#machigai_gamebundle_item_distributedFrom_date{display:inline;}
		#machigai_gamebundle_item_distributedFrom_time{display:inline;}
		#machigai_gamebundle_item_distributedTo{display:inline;}
		#machigai_gamebundle_item_distributedTo_date{display:inline;}
		#machigai_gamebundle_item_distributedTo_time{display:inline;}
	-->
	</style>
{% endblock %}

{% block contents -%}
    <h1>アイテム編集</h1>
	<a href="{{ path('item') }}">アイテム一覧に戻る</a>

    {{ form(edit_form) }}
	<br />
	{{ form(delete_form) }}
{% endblock %}
