{% extends "MachigaiGameBundle::base.html.twig" %}

{% block title %}登録完了{% endblock %}

{% block body %}
<header>
 <img src="{{ asset('/bundles/machigaigame/images/parts/header.png')}}" width="100%" style="display:block;" />
 <img src="{{ asset('/bundles/machigaigame/images/parts/bar_nicknameregistend.png')  }}" width="100%" style="display:block;" />
</header>
<section>
<p style="text-align:left;padding-left:10%;padding-top:1em;padding-bottom:2em;">登録が完了しました。<br />まちがいさがし放題をお楽しみください！</p>
</section>
<footer><a href='{{ path('Top')}}' alt="アプリTOPへ"><img src="{{ asset('/bundles/machigaigame/images/parts/button_toapptop.png')  }}"></a></footer>
{% endblock %}
