{% extends "MachigaiGameBundle::base.html.twig" %}
{% block title %}パスワード再発行メール送信{% endblock %}
{% block body %}

<img src="{{ asset('/bundles/machigaigame/images/parts/1-01_1_01-07bg.png')}}"
     style="width:100%;height:auto;position:absolute;left:0;top:0">

<div style="position: relative; margin:30% 3% 0 3%; text-align:left;">
仮パスワードの登録メールが送信されました。
 <br />
 パスワードはTOPの「ヘルプ」→「ユーザー登録について」→「パスワード変更」より変更できます。
</div>

<div style="position: relative; margin:30% auto 0 auto; text-align:center;">

   <a href="{{path('Top')}}" id="htopImage">
   <img id="topImage" width="35%" src="{{ asset('/bundles/machigaigame/images/parts/button_back_totop_off.png')}}" onclick="changeImage(this.id);"></a>
   <img class="preload" src="{{ asset('/bundles/machigaigame/images/parts/button_back_totop.png')}}" >
</div>

<script>
var image_path = null;
var image_id = null;
function changeImage(imageId){
  var pre_src = $('#'+imageId).attr('src');
  var src = pre_src.replace(/_off/g,'');
  image_path = src;
  image_id = imageId;
  $('#'+imageId).attr("src",src);
  setTimeout("originalImage();", 200);
}
function originalImage(){
  var pre_src = $('#'+image_id).attr('src');
  var src = image_path.replace(/.png/g,'_off.png');
  $('#'+image_id).attr("src",src);
}
</script>
{% endblock %}