{% extends "MachigaiAdminBundle::base.html.twig" %}

{% block contents -%}
    <h1>ユーザ編集</h1>

    {{ form(edit_form) }}

    <br />

    {{ form(delete_form) }}

    <br />
    
    <a href="{{ path('user') }}">
        ユーザ一覧に戻る	
    </a>
{% endblock %}
