{% extends "KanaheiAdminBundle::base.html.twig" %}

{% block stylesheets %}
	<style type="text/css">
	<!--
		#kanahei_gamebundle_question_distributedFrom{display:inline;}
		#kanahei_gamebundle_question_distributedFrom_date{display:inline;}
		#kanahei_gamebundle_question_distributedFrom_time{display:inline;}
		#kanahei_gamebundle_question_distributedTo{display:inline;}
		#kanahei_gamebundle_question_distributedTo_date{display:inline;}
		#kanahei_gamebundle_question_distributedTo_time{display:inline;}
	-->
	</style>
{% endblock %}

{% block contents -%}
    <h1>問題作成</h1>
	<a href="{{ path('question') }}">問題一覧に戻る</a>

    {{ form(form) }}
{% endblock %}
