{% extends "MachigaiGameBundle::base.html.twig" %}

{% block title %}エラー{% endblock %}

{% block body %}
<img src="{{ asset('/bundles/machigaigame/images/parts/header.png')  }}" width="100%" />
<img src="{{ asset('/bundles/machigaigame/images/parts/bar_error.png')  }}" width="100%" />
<p style="text-align:left;padding:3%;">エラーが発生しました。<br />通信状態を確認し、はじめからやり直してください。</p>
<a href="javascript:goTop();"><img id="toTopImage" src="{{ asset('/bundles/machigaigame/images/parts/button_back_totop_off.png')}}" width="35%" onclick="changeImage(this.id);"></a>
<img id="preToTopImage" class="preload" src="{{ asset('/bundles/machigaigame/images/parts/button_back_totop.png')}}" >
{% endblock %}


