{% extends "MachigaiGameBundle::base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
	
<style>
body{background: url({{asset('/bundles/machigaigame/images/parts/top_bg.png')}})}

#wv_wrap {
    top: 0;
    position: fixed;
    width: 100%;
}

#wv_header {
    padding-left: 45%;
}
#wv_blank {
    height: 50px;
}
#wv_header img{
    margin-top: 7%;
    margin-bottom: 4%;
    margin-left: 1%;
    width: 19%;
}
</style>

<div style="text-align: center; margin-top: 50px;">

 <img id="default_header" src="{{ asset('/bundles/machigaigame/images/parts/header.png') }}" width="100%" />
<br />
    
<font size="5" color="maroon">ゆく年くる年特別企画！</font>
<br />

   <a href="https://machigai.puzzle-m.net/">
    <img src="http://smpbanner.hubase-i.net/img/lp_nenmatu.png" width="100%" />
  </a>
   <a href="https://machigai.puzzle-m.net/">
    <img src="http://smpbanner.hubase-i.net/img/lp_otoshidama.png" width="100%" />
  </a>  
   <a href="https://ausp.puzzle-m.net/">
    <img src="http://smpbanner.hubase-i.net/img/tl_banner_puzzle.png" width="100%" />
  </a>
    <a href="https://bbq-g.com/asp/">
     <img src="http://smpbanner.hubase-i.net/img/tl_banner_bbq.png" width="100%" />
  </a>
    <a href="https://e-aquarium.jp/asp/">
     <img src="http://smpbanner.hubase-i.net/img/tl_banner_aqua.png" width="100%" />
  </a>

  
</div>

{% endblock %}


