{% extends "MachigaiGameBundle::base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}

<style>
body{background: url({{asset('/bundles/machigaigame/images/parts/top_bg.png')}})}
</style>


<div style="text-align: center; margin-top: 50px;">
    
    <FONT size="5" color="green">‚ä‚­”N‚­‚é”N“Á•ÊŠé‰æ</FONT>
    
   <a href="https://ausp.puzzle-m.net/">
    <img src="http://smpbanner.hubase-i.net/img/tl_banner_puzzle.png" width="100%" />
  </a>
    <a href="https://bbq-g.com/asp/">
     <img src="http://smpbanner.hubase-i.net/img/tl_banner_bbq.png" width="100%" />
  </a>
    <a href="https://e-aquarium.jp/asp/">
     <img src="http://smpbanner.hubase-i.net/img/tl_banner_aqua.png" width="100%" />
  </a>

  
</div>

{% endblock %}


