{% extends "MachigaiGameBundle::base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
	
<style>
body{background: url({{asset('/bundles/machigaigame/images/parts/bg_white.png')}})}

#wv_wrap {
    top: 0;
    position: fixed;
    width: 100%;
}

#wv_header {
    padding-left: 45%;
}
#wv_blank {
    height: 50px;
}
#wv_header img{
    margin-top: 7%;
    margin-bottom: 4%;
    margin-left: 1%;
    width: 19%;
}
</style>

<div style="text-align: center; margin-top: 0px;">

 <img id="default_header" src="{{ asset('/bundles/machigaigame/images/parts/header.png') }}" width="100%" />
<br />
    
<font size="4" color="maroon">スマパス会員の方は<br />ぜ～んぶ無料で取り放題！</font>
<br />

   <!--**▼スタンプバナー▼-->
    <a href="https://machigai.puzzle-m.net/">
<img src="/bundles/machigaigame/images/parts/stamp_lp_machigai.png" width="100%" /></a>
<br><br>
    <a href="https://tetsudo-club.com/asp/">
<img src="/bundles/machigaigame/images/parts/stamp_lp_tetudo.png" width="100%" /></a>
<br><br>
    <a href="https://bbq-g.com/asp/material">
<img src="/bundles/machigaigame/images/parts/stamp_lp_bbq.png" width="100%" /></a>
<br><br>
    <a href="https://e-aquarium.jp/asp/">
<img src="/bundles/machigaigame/images/parts/stamp_lp_aqua.png" width="100%" /></a>
<br>

   <!--**▼流れるテキスト▼-->
<marquee Bgcolor="ffffff"><font size="5" color="#ec6c00">セレブご用達特集！ちょっと気になるプレゼント続々</font></marquee>


<font size="3" color="4643aa">
<CENTER>スマパス会員の方はauIDのみで<br>ログインするだけで無料で<br>カンタンに応募できます。</CENTER></font>


<section>

   <!--**▼タイムライン風▼-->
<div align="center">

   <a href="https://bbq-g.com/asp/landing">
   <img src="/bundles/machigaigame/images/parts/syuugou_tl_hagen.png" width="100%" /></a>
   
       <a href="https://ausp.puzzle-m.net/">
   <img src="/bundles/machigaigame/images/parts/syuugou_tl_siriarugra.png" width="100%" /></a>
   
      <a href="https://ausp.puzzle-m.net/">
   <img src="/bundles/machigaigame/images/parts/syuugou_tl_godivacafe.gif" width="100%" />  </a>
   
   <a href="http://machigai.puzzle-m.net/apply/show/oubo_page.html">
   <img src="/bundles/machigaigame/images/parts/syuugou_tl_honeybear.png" width="100%" style="position:relative;"/> </a>

    <a href="https://e-aquarium.jp/asp/?m=landing">
   <img src="/bundles/machigaigame/images/parts/syuugou_tl_anabeen.png" width="100%" /></a>

   <a href="https://bbq-g.com/asp/landing">
   <img src="/bundles/machigaigame/images/parts/syuugou_tl_chiaseed.png" width="100%" />  </a>
  
   <a href="https://machigai.puzzle-m.net/">
   <img src="/bundles/machigaigame/images/parts/syuugou_tl_12seiza.png" width="100%" />  </a>
        
    <a href="https://e-aquarium.jp/asp/">
   <img src="/bundles/machigaigame/images/parts/syuugou_tl_aqua.png" width="100%" /></a>
   
    <a href="https://bbq-g.com/asp/">
   <img src="/bundles/machigaigame/images/parts/syuugou_tl_tarotto.png" width="100%" /></a>
           
   <a href="https://bbq-g.com/asp/">
   <img src="/bundles/machigaigame/images/parts/syuugou_tl_bbq.png" width="100%" /></a>

   <a href="https://machigai.puzzle-m.net/">
   <img src="/bundles/machigaigame/images/parts/syuugou_tl_banao.png" width="100%" /></a>
   
           
           
     <br><font size="5" color="#4643aa">
<CENTER>甘い誘惑プレゼントはコチラ</CENTER></font>

        <a href="https://bbq-g.com/asp/landing">
   <img src="/bundles/machigaigame/images/parts/hagen.png" width="100%" />   
   </a>




  
</div>

{% endblock %}


