{% extends "MachigaiGameBundle::base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
<style>
    p {
        font-size: 0.8em;
    }
    body {
        background-image: url("/bundles/machigaigame/images/parts/lpb_bg.jpg");
    }
    .lpb {
        margin-bottom: 25px;
    }
</style>

<div style="text-align: center; margin-top: 50px;">
    
    <a href="/">
        <img class="lpb" src="{{ asset('/bundles/machigaigame/images/parts/lpb_main.png')  }}" width="95%" />
    </a>
    
    <a href="https://ausp.puzzle-m.net/auth/smartpass">
        <img class="lpb" src="{{ asset('/bundles/machigaigame/images/parts/lpb_puzzle.png')  }}" width="90%" />
    </a>

    <a href="https://e-aquarium.jp/asp/">
    <img class="lpb" src="{{ asset('/bundles/machigaigame/images/parts/lpb_aquarium.png')  }}" width="90%" />
    </a>
    
    <a href="https://bbq-g.com/asp/">
        <img class="lpb" src="{{ asset('/bundles/machigaigame/images/parts/lpb_BBQ.png')  }}" width="90%" />
    </a>
</div>

{% endblock %}


