{% extends "MachigaiGameBundle::base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
	<script type="text/javascript" src="{{ asset('bundles/machigaigame/js/bookmark_bubble.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/machigaigame/js/example.js') }}"></script>
	
<style>
body{background: url({{asset('/bundles/machigaigame/images/parts/top_bg.png')}})}
</style>


<div style="text-align: center; margin-top: 50px;">
    
<font size="6">‚ä‚­”N‚­‚é”N“Á•ÊŠé‰æI</font>
    
   <a href="https://ausp.puzzle-m.net/">
    <img src="http://smpbanner.hubase-i.net/img/tl_banner_puzzle.png" width="100%" />
  </a>
    <a href="https://bbq-g.com/asp/">
     <img src="http://smpbanner.hubase-i.net/img/tl_banner_bbq.png" width="100%" />
  </a>
    <a href="https://e-aquarium.jp/asp/">
     <img src="http://smpbanner.hubase-i.net/img/tl_banner_aqua.png" width="100%" />
  </a>

  
</div>

{% endblock %}


