{% extends "KanaheiGameBundle:Help:base.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
<img src="{{ asset('/bundles/kanaheigame/images/parts/1-01_1_01-07bg.png')  }}" width="100%" style="position:absolute;left:0%;top:0%"/>
<p style="padding:2%;font-size:1em;text-align:center;position:relative;margin-top:50%;color:rgb(22,101,179)">メールアドレスの変更が完了しました。</p>

{% endblock %}