{% extends "KanaheiAdminBundle::base.html.twig" %}

{% block stylesheets %}
	<style type="text/css">
	<!--
		#kanahei_gamebundle_item_distributedFrom{display:inline;}
		#kanahei_gamebundle_item_distributedFrom_date{display:inline;}
		#kanahei_gamebundle_item_distributedFrom_time{display:inline;}
		#kanahei_gamebundle_item_distributedTo{display:inline;}
		#kanahei_gamebundle_item_distributedTo_date{display:inline;}
		#kanahei_gamebundle_item_distributedTo_time{display:inline;}
	-->
	</style>
{% endblock %}

{% block contents -%}
    <h1>アイテム新規作成</h1>
	<a href="{{ path('item') }}">一覧に戻る</a>

    {{ form(form) }}
{% endblock %}
