{% extends "KanaheiAdminBundle::base.html.twig" %}

{% block stylesheets %}
	<style type="text/css">
	<!--
		#kanahei_gamebundle_News_startedAt{display:inline;}
		#kanahei_gamebundle_News_startedAt_date{display:inline;}
		#kanahei_gamebundle_News_startedAt_time{display:inline;}
		#kanahei_gamebundle_News_endedAt{display:inline;}
		#kanahei_gamebundle_News_endedAt_date{display:inline;}
		#kanahei_gamebundle_News_endedAt_time{display:inline;}
	-->
	</style>
{% endblock %}

{% block contents -%}
    <h1>お知らせ編集</h1>
    <a href="{{ path('news') }}"> お知らせ一覧に戻る</a>

    {{ form(edit_form) }}
    <br />
    {{ form(delete_form) }}
    <br />
{% endblock %}
