{% extends "MachigaiGameBundle:Help:base.html.twig" %}

{% block title %}遊び方{% endblock %}

{% block contents %}
<img src="{{asset('/bundles/machigaigame/images/parts/header_otoiawase_check.png')}}" width="100%" />
<p style="padding:1em 2em;text-align:left;">以下の内容でよろしければ、送信ボタンを押してください。</p>
{{ form(form) }}
{% endblock %}

{% block footer %}{% endblock %}
