{% extends "::base.html.twig" %}

{% block title %}遊び方{% endblock %}

{% block body %}
<header><h1>ヘルプ</h1></header>
<section>
<article>
<h2>お問い合わせ</h2>
<p>以下の内容でよろしければ、送信ボタンを押してください。</p>
</article>
{{ form(form) }}
</section>
{% endblock %}
