{% extends "MachigaiGameBundle:Help:base.html.twig" %}

{% block title %}遊び方{% endblock %}

{% block contents %}
<img src="{{asset('/bundles/machigaigame/images/parts/header_otoiawase_top.png')}}" width="100%" />

<p>以下の内容をご記入の上、入力内容確認ボタンを押してください。</p>
{{ form(form) }}
 <button onclick="location='{{ path('HelpInquiry') }}'">戻る</button>
{% endblock %}
