{% extends "::base.html.twig" %}

{% block title %}ヘルプ{% endblock %}

{% block body %}
<header><h1>ヘルプ</h1></header>
<section>
 <h2>登録完了</h2>
 <p>送信が完了しました。</p>
 <button type="button" onclick="location='{{ path('Top') }}'">アプリTOPへ</button>
</section>
{% endblock %}
