{% extends "MachigaiGameBundle:Help:base.html.twig" %}

{% block title %}ヘルプ{% endblock %}

{% block contents %}
<img src="{{asset('/bundles/machigaigame/images/parts/header_otoiawase_sendend.png')}}" width="100%" />
 <p style="padding:1em 2em;text-align:left;">送信が完了しました。</p>
{% endblock %}
