{% extends "MachigaiGameBundle:Help:base.html.twig" %}

{% block title %}遊び方{% endblock %}

{% block contents %}
<img src="{{asset('/bundles/machigaigame/images/parts/header_otoiawase_top.png')}}" width="100%" />
<br />
<br />
<p style="padding-bottom:10%;">お問い合わせはこちらからご連絡ください。</p>
 <a href="{{ path('HelpInquiryForm') }}" alt="お問い合わせ"><img src="{{ asset('/bundles/machigaigame/images/parts/button_otoiawase.png') }}" width="67%;" /></a>
{% endblock %}
