{% extends "MachigaiGameBundle:Help:base.html.twig" %}

{% block title %}利用規約{% endblock %}

{% block contents %}
<section id="terms">
<article>
<h2>利用規約</h2>
<p>テキスト</p>
<p>テキスト</p>
<p>テキスト</p>
<p>テキスト</p>
</article>
</section>
{% endblock %}
