{% extends "::base.html.twig" %}

{% block title %}ゲーム終了{% endblock %}

{% block body %}
<section id="finish">
 <h1>リザルト</h1>
 <h2>クリアタイム</h2>
 <p>05:00</p>
 <h2>獲得ポイント</h2>
 <p>5 pt</p>
 <h2>現在のポイント</h2>
 <p> ◯◯ pt</p>
</section>
<section id="comment">
 <p>{% block comment %}おめでとう！<br />ショップやランキングをチェック！{% endblock %}</p>
</section>
<section id="menu">
 {% block menu %}
  <button onclick="location='{{ path('GameSelect')}}'">ほかの問題で遊ぶ</button>
 {% endblock %}
</section>
{% endblock %}
